/*This was used for a follow along for MDN web docs*/

body {
    font-family: sans-serif;
    width: 90%;
    max-width: 960px;
    margin: 10px auto;
  }

  header {
    background: purple;
    height: 100px;
  }

  h1 {
    text-align: center;
    color: white;
    line-height: 100px;
    margin: 0;
  }

  section {
    zoom: 0.8;
    display: flex;
  }
  
  article {
    padding: 10px;
    margin: 10px;
    background: aqua;
    flex: 1 100px;
  }

  article:nth-child(3) {
    flex: 3 100px;
    display: flex;
    flex-flow: column;
  }

  article:nth-of-type(3) div:first-child {
    flex: 1 100px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
  }

  button {
    flex: 1 auto;
    margin: 5px;
    font-size: 18px;
    line-height: 1.5;
  }

  div {
    display: flex;
  }