:root {
    --background-color: darkblue;
    --font-color: white;
    --auto-height: auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--background-color);
    padding: 10px;
}

nav a {
    color: var(--font-color);
    display: block;
    text-decoration: none;
    padding: 20px;
}

main {
    order: 1;
}

h1 {
    color: darkblue;
    border-bottom: 2px solid darkblue;
    margin-bottom: 1rem;
}

main img {
    width: 150px;
    height: var(--auto-height);
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

p {
    padding: 0;
}

aside {
    margin: 0 auto;
    text-align: center;
    position: relative;
}

aside h2 {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%);
}

aside img {
    width: 80%;
    height: var(--auto-height);
}

li a {
    color: var(--font-color);
}

footer {
    margin-top: 15px;
    border-top: 3px solid black;
    text-align: center;
}

/* Class Selectors */

.box {
    width: 80%;
    margin: 1rem;
    padding: 1rem;
    border: solid 5px gray;
    background-color: var(--background-color);
    color: var(--font-color);
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}